body {
	font-family: "Amatic SC", cursive;
	font-family: "Indie Flower", cursive;
	font-family: "Shadows Into Light", cursive;
	background-color: #cfc8bc;
}

.beerBox {
	margin: 0 auto 60px auto;
	border: 2px solid black;
	border-radius: 2%;
	width: 50%;
	padding: 20px;
	background-color: #f0edd1;
	text-align: center;
}

.beerName {
	font-size: 27px;
	font-weight: bolder;
	margin-bottom: 5px;
}
